[2020-05-11 14:10] pacharanero opened #1 "No LICENSE.txt or LICENSE.md file"
Once discussions have concluded regarding the exact license to use we should have a license file in the source code. I am happy to do this once we are decided on which OSI-approved license we are using.

[2020-05-14 17:30] pacharanero opened #3 "Test approaches to consider"
* Testing the Flask app with quick unit tests designed to pick out regressions quickly when developing
* Testing the API responses as a full round trip
* python hypothesis library which can be used to spot-check a large 'solution space' rather than having to brute-force cover every possible input

[2020-06-03 09:37] pacharanero opened #4 "Internationalisation/translation of the API responses"
We should consider how we are going to approach internationalisation
Internationalisation allows us to vary the advice text that is returned by the API
This would be necessary for international users who need the text in their preferred language.

Additionally it may provide a mechanism to customise the returned text for specific non-International users, such as Devolved nations of the UK or other

[2020-06-03 10:29] pacharanero opened #5 "Test data for MVP age range"
We require a list of validated **test identities** to send to the API and check the return values are exactly what the validated response should be. This is important for internal testing during development, and also as a resource for implementers.

@eatyourpeas has a CSV file containing ~1000 rows of synthetic test data for a single fictional individual over the course of the 0-1 year age range o

[2020-06-03 11:17] pacharanero opened #6 "Choice of cloud platform"
We need to decide which cloud platform provider we are going to use. There are a lot of options, however two that the College already use are: Microsoft Azure and Amazon Web Services.

Both are advanced platforms and will have all the features we need.
Both are reliable.

In my opinion the key feature is being able to get into the admin panel ourselves and make changes. I think @andrewpalmeruk men

[2020-06-05 14:24] #5 closed, assigned to statist7

[2020-06-05 14:27] eatyourpeas opened #8 "Term baby calculation inaccurate"
Currently the SDS calculation for all term babies > 37 < 42 weeks are assumed to be 40 weeks. This is incorrect and needs to use the averaged LMS values from the reference data

[2020-06-05 15:22] pacharanero opened #10 "Refactor Flask app into Client and Server"
- [x] create a repo for the new client (**existing** repo will be renamed for the server at the end of the process)
- [x] ensure functions for MVP are fully exposed via REST API endpoints (ie not being accessed via internal code)
- [x] test API endpoints via Postman
- [x] build new Flask client
- [x] gradually remove all Client functions over to the new client
- [x] delete those client functions f

[2020-06-05 16:30] eatyourpeas opened #11 "Implement SDS trend"
Calculate growth velocity expressed as a conditional velocity centile using TC correlation matrices

[2020-06-05 16:32] eatyourpeas opened #12 "Sex or gender?"
Should we be using gender or sex against measurement and dates?

[2020-06-05 16:37] eatyourpeas opened #13 "Are the clinician / lay statements appropriate"
Child centile results are reported with a string value interpretation for the user, one as a lay message to guide families on interpretation of the centile result, while the clinician message assumes some medical knowledge and training and may make referral recommendations. Are these appropriate in each case?

[2020-06-06 13:33] pacharanero opened #14 "Postman collection for testing the API"
[Postman](https://www.postman.com/) is a tool for interacting with APIs, and can be used within our team for testing. It can also be used by implementers as a quick way to interact with our API and to learn how it works.

We can make all of this easier by distributing a Postman configuration file (known as a 'Collection') which contains all the setup needed to interact with the API.

[2020-06-06 15:41] pacharanero opened #15 "Implementer support channel"
At some stage we are likely to need a discussion channel for implementers (developers, companies, teams who are using the API) to be able to contact the team for support as they develop their client applications.

There are a number of considerations to this, which we should be thinking about early, so that we are ready. I'd appreciate your thoughts on this @eatyourpeas @andrewpalmeruk @magdaumers

[2020-06-06 15:46] pacharanero opened #16 "FHIR format for the API response"
FHIR ('Fast Healthcare Interoperability Resources', pronounced 'Fire') is a standard interchange format for medical data. It has been suggested that the response from the Growth Chart API should be in the form of a FHIR Resource.

More information on FHIR can be found here: https://en.wikipedia.org/wiki/Fast_Healthcare_Interoperability_Resources

The FHIR specifications are here: http://hl7.org/fh

[2020-06-06 16:10] pacharanero opened #17 "'SECRET_KEY' in Flask config"
https://github.com/rcpch/digital-growth-charts/blob/8b3e68c964a5e393438ab636df785bb9ff43ea5f/app.py#L14

We can safely leave a default key in the codebase for development purposes.

But for production this configuration variable needs to be changed and moved out of the GitHub committed code. [This SO answer](https://stackoverflow.com/a/30873279) gives a good description of how it should be done, w

[2020-06-06 16:14] pacharanero opened #18 "Information on contributing to the project"
- [x] There should be a CONTRIBUTING.md file in the root of the project, or in the documentation folder, containing:
- [x] details of how to discuss potential improvements and design their implementation
- [x] how to develop the improvements, coding style, etc
- [x] submission instructions (pull request)
- [x] details of contributor covenant

[2020-06-06 16:23] pacharanero opened #19 "Client libraries for the API??"
A client library is a piece of software that we produce, as the _creators_ of the API which we distribute to _consumers_ of the API. The library allows them to integrate with the API more easily, by providing utility functions in a language that the developer is familiar with.

Many APIs in the wider tech world have 'official' client libraries available in the major common languages - such as Java

[2020-06-08 09:42] statist7 opened #21 "Choice of centiles for growth chart"
The convention for British growth charts is to use the nine-centile format that I proposed in the BMJ (1994), extending from the 0.4th to the 99.6th and defined by a set of z-scores spaced two-thirds of a unit apart. So the nine centiles, 0.4, 2, 9, 25, 50, 75, 91, 98, 99.6, are (except for the 50th) rounded for presentation, and their position on the chart should be defined by the underlying z-sc

[2020-06-08 09:49] statist7 opened #22 "LMS method and GAMLSS extensions"
The UK-WHO reference was constructed using the LMS method, which defines the centiles in terms of the median M, coefficient of variation S and skewness L at each age, and summarised as a table with the LMS values in three columns at a series of ages in the rows.

The LMS method is a special case of GAMLSS (generalised models for location, scale and shape), and charts are now being created using mo

[2020-06-08 10:41] statist7 opened #23 "Reverse look-up for z-scores"
The API is designed to accept dates and measurements and convert them to z-scores. This represents the typical clinical scenario, where a child has been measured and needs to be assessed.

However there is also a need to do the reverse conversion, from z-score to measurement. The most obvious example of this is to obtain the values need to draw the chart centiles, where each centile curve correspo

[2020-06-09 12:23] #15 closed, assigned to nobody

[2020-06-09 14:01] #12 closed, assigned to magdaumerska

[2020-06-12 13:11] eatyourpeas opened #25 "Conditional velocity centiles"
See #24 - As per @statist7  comment: It is desirable to implement calculation of conditional velocity centiles which are age specific and guide on an individual child's speed of growth.

[2020-06-13 06:30] eatyourpeas opened #26 "Internationalisation of clinician/lay comments"
Implement internationalisation and localisation of advice strings to be available in different languages. Any subsequent change in the text, or added support for new languages would then changes in only one place.

[2020-06-13 12:21] eatyourpeas opened #27 "Automate testing of thrive lines"
It would be useful to automate a process which creates serial data points that mimic the growth of a child for testing purposes

[2020-06-13 16:22] pacharanero opened #28 "Could we refactor out this function?"
https://github.com/rcpch/digital-growth-charts/blob/fa8ad104925e56a7be3ff31d300a2902de157bc6/rcpchgrowth/rcpchgrowth/date_calculations.py#L173

1) `datetime.strptime(convert_string, '%d/%m/%Y')` in our code is nearly as short as `string_to_date(convert_string)`, while the former is more standard Python and clearer to the reader how the date is going to be parsed.

2) In the API I am using ISO8601

[2020-06-16 19:20] #10 closed, assigned to pacharanero

[2020-06-19 15:05] #8 closed, assigned to eatyourpeas

[2020-06-19 15:06] pacharanero opened #35 "testing - API responses"
aim for an initial 10 unit tests for the API responses, based on hitting a growth reference point excatly so there is no interpolation required.

[2020-06-19 15:07] pacharanero opened #36 "Client unit testing"
do we need a test suit covering the client?

[2020-06-19 15:08] pacharanero opened #37 "API testing - satisfy Simon and Tim that API returns accurate results"

[2020-06-19 15:18] #6 closed, assigned to andrewpalmeruk

[2020-06-19 15:21] #1 closed, assigned to pacharanero

[2020-06-19 15:35] pacharanero opened #38 "Setup Azure API Gateway"
* [x] Andrew and Marcus need access to control and configure this
* [x] There should be an API management system (we are probably going to use Amazon's own 'API Gateway' product, but if this disappoints then there are a number of other options.
* [x] The 'front end' of the API management platform is accessible from the Internet.
* [x] The 'back end' of the API management platform should connect to

[2020-06-19 15:40] #18 closed, assigned to nobody

[2020-06-19 17:02] pacharanero opened #39 "Setup testing deployment of API code to Azure from GitHub"
This seems harder than it should be. I am always impressed by how well Amazon make things hard to do and, rather than driving users away to other products, it's seems to have conversely created for them a 'specialist skill area' of AWS experts.

On Heroku (an independent platform which does serverless deployment) deployment is as simple as `git push heroku master`. And you can rig it to update the

[2020-06-19 17:09] pacharanero opened #40 "Convert the private repositories to Public on <OPEN SOURCE DAY>"
* We have 2 main repositories for the dGC code:

https://github.com/rcpch/digital-growth-charts-server
https://github.com/rcpch/digital-growth-charts-flask-client

* At the moment these are both Private repositories
* We had, in initial discussions, agreed that we would open source them, and this is really fundamental to the 'trustability' of our code and our API - that anyone can look at and comm

[2020-06-22 16:26] pacharanero opened #41 "We should be able to produce growth charts for Down's Syndrome"
This feature is not an MVP feature. But there are standard reference data for growth in Down's Syndrome (Trisomy 21), which we could add to the project in the future. Steps required to do this properly would be:

- [x] obtain accurate Down's Syndrome growth references data from the official source

- [x] convert this from the format it will come in (likely CSV or Excel) into our standard format fo

[2020-06-24 15:33] pacharanero opened #42 "GraphQL Support"
At this stage, and with such a simple API structure, we probably don't need to worry about GraphQL, however in the future it may be something to consider adding if it is necessary

[2020-06-24 15:54] pacharanero opened #43 "API Management emails text needs to be changed"
![image](https://user-images.githubusercontent.com/2348385/85589135-38c54700-b63b-11ea-9f3f-9c4fb8c78d80.png)

A bit too perky for my liking. Need to find out where to change this text in the API Management platform and change it.

[2020-07-03 14:53] pacharanero opened #44 "Refactor API to use measurement_type"
Refactor API to use measurement_type

[2020-07-03 15:22] pacharanero opened #45 "Andrew and Joanne set up Windows Dev Envs"
Andrew and Joanne set up Windows Dev Envs
Edit and update README if any windows issues noted
Submit PR

[2020-07-03 18:22] eatyourpeas opened #46 "Readme.md file needs breaking into chapters to be more navigable"
Update README.md into small chapters that will make it easier to use

[2020-07-08 10:40] #45 closed, assigned to andrewpalmeruk

[2020-07-08 12:29] andrewpalmeruk opened #47 "Instructions page won't load"
On our Windows builds, the Instructions page errors with:
json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)

the Traceback was:
127.0.0.1 - - [08/Jul/2020 12:01:44] "?[35m?[1mGET /instructions HTTP/1.1?[0m" 500 -
Traceback (most recent call last):
  File "C:\Users\andrewp\AppData\Local\Programs\Python\Python38-32\Lib\json\decoder.py", line 353, in raw_decode
    obj, end = se

[2020-07-09 11:16] #44 closed, assigned to eatyourpeas

[2020-07-09 11:23] #28 closed, assigned to eatyourpeas

[2020-07-13 10:59] pacharanero opened #48 "Remove the advice strings and deprecate the API's advice string feature"
In response to feedback from the Project Board at the Teams meting Monday 13/07/2020:

The project board felt that we should **not** be sending advice strings for single measurements in any circumstances, therefore this feature will be removed.

Instead there will be 'generic' advice which the Project Board will create, which will be along the lines of: "Single measurements on growth charts and in

[2020-07-15 14:33] eatyourpeas opened #49 "Measurement_Type is a class and measurement_type is also a request param"
These need refactoring and changing to measurement_method (only an enum ['height', 'weight', 'bmi', 'ofc']) on the client side

[2020-07-15 21:01] #48 closed, assigned to eatyourpeas

[2020-07-16 10:09] eatyourpeas opened #50 "Refactor endpoints for different datasets"
In future the calculation / calculations endpoint will have less meaning if different datasets are used. This should be refactored now to reflect UK-WHO

[2020-07-16 10:49] pacharanero commented on #50
worklist for this
* [x] refactor the API endpoint name (also need to think about `charts` endpoint, which is UK-WHO specific)
* [ ] test in Postman and change Postman collections, upload edited collections
* [ ] refactor in the Flask client
* [ ] test Flask client
* [ ] test React client
* [ ] change the openAPI definition file to reflect changes
* [ ] close issue

[2020-07-16 17:34] eatyourpeas opened #51 "Not selecting WHO reference for weight for those born term now 15 days old"
Thank you to @statist7 for identifying this issue. Although the `default_to_youngest_reference` flag has appropriately been set to false, it is still selecting the younger reference.

[2020-07-16 17:37] eatyourpeas opened #52 "Large inaccuracies with weight calculation for babies born at term and less than 2 weeks old"
Thank you to @statist7 for identifying this issue.

[2020-07-16 21:05] eatyourpeas opened #53 "Documentation on statistical decisions"
We need to explain the decisions we have made where RCPCHGrowth deviates from LMSGrowth. I have started a paragraph in developer-documentation in the docs folder.

[2020-07-17 18:24] #39 closed, assigned to nobody

[2020-07-19 14:13] #52 closed, assigned to eatyourpeas

[2020-07-19 14:18] eatyourpeas opened #55 "UK90 Preterm centiles incorrectly continuous with term centiles"
Babies born preterm should be plotted on UK90 preterm data up until 2 weeks of age. Babies born at term should not be plotted on those data, instead from 37-42 weeks there should be no centiles, and the WHO 2006 data should pick up at this point.

[2020-07-19 18:22] #51 closed, assigned to eatyourpeas

[2020-07-20 20:46] #55 closed, assigned to eatyourpeas

[2020-07-20 20:54] eatyourpeas opened #57 "It would be helpful to be able to plot multiple children on the same set of curves"
This feature most likely of interest only to growth chart builders/enthusiasts but would allow the researcher to view a cohort of children as a scatter plot against the centiles as a backdrop.

This is currently not possible as the ```create_centiles``` function receives 2 parameters ```(sex: str, born_preterm: bool)```
These are both flags which are used to select the correct references to return

[2020-07-24 14:46] #46 closed, assigned to pacharanero

[2020-07-24 14:46] #38 closed, assigned to pacharanero

[2020-07-24 14:57] #49 closed, assigned to eatyourpeas

[2020-07-24 15:05] pacharanero opened #58 "API is returning a null values in the response"
needs to be looked at and fixed assigning @pacharanero

[2020-08-01 10:33] pacharanero opened #59 "Disclaimer"
There should be a disclaimer which makes it clear that the API is in alpha and cannot be used for clinical purposes

[2020-08-01 20:42] DeckOfPandas opened #60 "There are a couple of stray quote marks in the readme"
PR incoming

[2020-08-02 05:33] #60 closed, assigned to nobody

[2020-08-04 16:03] pacharanero commented on #40
closed as completed 1.8.2020 by converting all the dGC repos to Public

[2020-08-04 16:03] #40 closed

[2020-08-19 08:14] pacharanero opened #63 "Review all documentation, read, update, structure nicely, and include links to other areas of important documents"
Assigned to @pacharanero

[2020-08-25 18:28] pacharanero commented on #47
I've confirmed that this issue does still exist and affects the live Flask client

[2020-08-28 12:52] pacharanero commented on #17
This issue is actually more relevant to the Flask Client now, but it was created when the two repos were actually one codebase.

It turns out that SECRET_KEY is for encrypting the session data and cookies, however we do not need to persist anything between sessions, so we just don't actually need to keep the same SECRET_KEY at all.

I have refactored the whole thing so that if there is a FLASK_SEC

[2020-08-28 12:52] pacharanero commented on #17
closing

[2020-08-28 12:53] #17 closed

[2020-08-28 15:06] pacharanero opened #64 "Do the thresholds to stop correction (eg 1 year, 2 years) apply from the corrected age or the chronological age?"
https://github.com/rcpch/digital-growth-charts-server/blob/72e1a5041af9e0ada33a34345e7aa36fcfaa52b9/rcpchgrowth/rcpchgrowth/growth_interpretations.py#L218

[2020-08-28 15:07] pacharanero commented on #64
We need this to be decided by the clinical advisors to the project.

[2020-08-28 16:38] magdaumerska commented on #64
@pacharanero  - the advisor confirmed it is the corrected age.

[2020-08-28 23:03] eatyourpeas commented on #64
The ```corrected_decimal_age``` function contains the following code snippet:
[code]

As you can see, the ```uncorrected_age``` is used to decide when the child reaches 1 or 2 y (depending on gestation at delivery) as to whether to correct. As @statist7 says, we remember our birthdays, not our EDDs - the code currently reflects that concept.

[2020-08-29 18:20] eatyourpeas opened #65 "API should only return SDS to 2 decimal places"
@statist7 suggests that while the unit testing should match LMSGrowth to 10<sup>-5</sup>, the values returned to the end user should be round to 2 decimal places. For the purposes of testing it is easier for the moment not to make this change.

[2020-09-04 09:50] eatyourpeas opened #66 "Refactor upload_data folder in flask client"
The upload_data folder in the flask client gets frequently deleted leading to a file not found error. When data is returned from the API it should be stored in a tmp folder, which is created if it does not exist, and is subsequently removed.

[2020-09-04 11:30] pacharanero commented on #13
closed by #67

[2020-09-04 14:49] eatyourpeas opened #68 "Remove centile absolute numbers and return bands"
### FROM PROJECT BOARD DISCUSSIONS 2020.09.04
Discussion at project board - centile numbers are unhelpful but centile bands are more interpretable.

[2020-09-04 14:53] eatyourpeas opened #69 "SDS calculation should be performed on both corrected and chronological age"
### FROM PROJECT BOARD DISCUSSIONS 2020.09.04
Discussion at project board. Consensus view that the cutoffs of correction at 32 weeks is arbitrary and related to difficulty for clinicians plotting on paper chart which are now redundant. The API should send up SDS at corrected and chronological age and compare before plotting, and consider using an 'arrow back' method on the chart. Charlotte Wright

[2020-09-04 15:00] eatyourpeas opened #70 "Plot SDS on chart"
### FROM PROJECT BOARD DISCUSSIONS 2020.09.04
Plotting SDS as well as centiles - need to have red line if < or > 4 SD

[2020-09-04 15:09] eatyourpeas opened #71 "Consider deemphasising prescription of colours"
### FROM PROJECT BOARD DISCUSSIONS 2020.09.04
Discussed at project board. Colours not necessary and do not need prescribing. Change chart to black and white

[2020-09-04 15:25] eatyourpeas opened #72 "Remove BMI charts under 2 years"
### FROM PROJECT BOARD DISCUSSIONS 2020.09.04
Project board discussion  - length is unreliable under the age of 2 years and therefore while reference data exists, it should not be used.

[2020-09-04 15:36] pacharanero commented on #70
That's an interesting one - makes implementer's job harder if they need to write conditional code to handle the presence of these lines - **but only in certain cases**

[2020-09-04 15:38] pacharanero commented on #71
Agree that pink and blue is a little bit old-fashioned and not consistent with a modern view of gender, sex, identity, etc. Also just plain unnecessary! Need to ensure that charts are always clearly labelled Male and Female, so the correct references are being used.

[2020-09-04 15:40] statist7 commented on #70
I rather agree, and suggest this needs rethinking.

[2020-09-04 21:16] eatyourpeas commented on #70
This is allied to #66 - discussion here is to propose deprecating returning absolute centile values in favour of centile bands: these would therefore be strings and might include some interpretation (thin/obese etc): discussion still ongoing. It was suggested that +/- 6SD should prompt a warning to consider the measurement may not be accurate. This is somewhat broader than +/-4SD where it was felt

[2020-09-05 09:35] pacharanero commented on #70
Agreed, this is definitely not yet 'clinically' thought through yet.

I'm not sure I agree with sending **just** centile bands, and would probably try to agree that we send both the centile (as an integer maybe? - no real clinical use for more accuracy than that) AND as a band. And then discussing in the implementation notes the recommendations of the Project Board.

±6SD does sound like a reasona

[2020-09-05 11:08] eatyourpeas commented on #70
I agree  also we should be cautious about removing the centile value. The board were very clear that reporting exact numbers leads often to confusion between clinicians and patients alike. This discussion should probably continue over at #68 . The implementation in that branch currently leaves the centile values in but adds a separate key:value in the Measurement object called ```centile_band```
I

[2020-09-05 11:09] eatyourpeas commented on #68
Continuing conversation from #70

I agree  also we should be cautious about removing the centile value. The board were very clear that reporting exact numbers leads often to confusion between clinicians and patients alike. This discussion should probably continue over at #68 . The implementation in that branch currently leaves the centile values in but adds a separate key:value in the Measurement

[2020-09-05 12:07] eatyourpeas opened #73 "Head circumference SDS returned less accurate than sds for other parameters"
@statist7 observation that OFC values returned are not as accurate.

[2020-09-05 12:36] eatyourpeas opened #74 "Could decimal age be made more accurate?"
Question to @statist7:
Current decimal age calculation works by counting the number of days between two dates and dividing by 365.25 (to account for leap years every 4th year). This is the method used in LMS Growth and Sitar. In fact however as @andrewpalmeruk points out, leap years do not occur on the millenium. FUN FACT: leap years were invented by Julius Caesar in 46 BC. The idea is that it tak

[2020-09-05 13:45] eatyourpeas commented on #64
Discussion at Project Board 4/9/202
Charlotte Wright and @statist7 conversation - Prof Wright explained that the 1 and 2 year cutoffs for decimal age correction had been purely practical as hard to plot on paper charts, and actually it became of less meaning around the age of 2 years. If measurements can be plotted now with accuracy this removes any need for a threshold for correction and could co

[2020-09-05 15:07] eatyourpeas opened #75 "CORS Policy"
https://github.com/rcpch/digital-growth-charts-server/blob/b9f948e00a94837f429b974e5f5c412ea521d2b9/app.py#L21-L21

[2020-09-05 16:52] statist7 commented on #70
Sending the centile as an integer is sensible for most of the range, but absolutely not below the 1st or above the 99th centile, where one decimal place is needed.

[2020-09-05 17:54] eatyourpeas opened #76 "Should only return centiles as integers or to 1dp if <1 or >99"
https://github.com/rcpch/digital-growth-charts-server/blob/3fb7c16acb88dda0746efe00e8609a6abbcc7f28/rcpchgrowth/rcpchgrowth/measurement.py#L507-L507

[2020-09-05 18:41] eatyourpeas commented on #76
fixed with commit https://github.com/rcpch/digital-growth-charts-server/commit/4af960e99fd926e3e5241b8a2fe0e4b73104a5df

[2020-09-05 18:41] #76 closed, assigned to nobody

[2020-09-05 18:43] eatyourpeas commented on #70
Just to add that this has been dealt with in #76 with fix applied with commit https://github.com/rcpch/digital-growth-charts-server/commit/4af960e99fd926e3e5241b8a2fe0e4b73104a5df

[2020-09-05 19:23] eatyourpeas commented on #68
This has now been implemented with 6607d6a

[2020-09-05 19:23] #68 closed, assigned to eatyourpeas

[2020-09-06 07:33] andrewpalmeruk commented on #74
I think there may be other questions to unpack here. Such as:
1. Since years have differing numbers of seconds in them, should we be using Gregorian years or millisecond years when generating values? I suppose the answer to this comes down to what the LMS charts use, which you’ve mentioned already Simon.
2. What are we using ‘age’ for? I see we’re displaying it on the flask client but what’s the p

[2020-09-06 13:59] eatyourpeas commented on #74
Currently we are using Julian calendar methodology which has the concept of leap years - ie every 4 years is a leap year (366 days), therefore average year length is 365.25.
The Gregorian calendar (introduced in 1582) is more accurate - it recognised that 365.25 is too short (actual is 365.24217 days), and therefore with the Julian calendar, 3 days are gained every 400 years. To correct the discre

[2020-09-07 09:21] statist7 commented on #74
This is all getting a bit metaphysical.

I suggest we stick with the Julian calendar of 365.25 days per year ignoring leap centuries, as they are a long time coming.

And to answer @andrewpalmeruk 's point, the API receives not age but two dates (or three including expected date of delivery). So it makes sense for the API to return age (or two ages if gestation is specified).

[2020-09-07 10:44] #74 closed, assigned to eatyourpeas, statist7

[2020-09-07 11:03] statist7 commented on #64
For info, Charlotte's exact response to my suggestion (comment to #5 above) was:

Also after a few weeks the exact term gestation is often forgotten – could cause problem later

To paraphrase, the current charts give the centiles for term birth on the y-axis at age 0. If we deprecated the notion of terrmness then the birth centiles would always depend on gestation, and hence would require a chart

[2020-09-08 09:02] statist7 commented on #73
I've established that head circumference z-score in a preterm infant is fully accurate (i.e. error ~ 1e-7) on the preterm curve, but is much less so once on the WHO curve after 2 weeks corrected age.

I'd like to check the LMS parameters for WHO - please can you tell me where I'll find them on GitHub?

[2020-09-09 09:49] statist7 commented on #73
I've now found the constants. One immediate realisation is that many of the ages are not accurate. They represent exact months so multiplied by 12 should be an integer, but many are out by ±0.004. So they need recalculating by multiplying by 12, rounding to an integer, and then dividing by 12.

Note this **does not apply** to the early ages, which are in units of weeks. But they too need to be mad

[2020-09-09 10:09] statist7 commented on #73
Looking at the UK-WHO preterm LMS values for OFC, I see that the first 20 have 5 decimal places for M and 8 for S (and none for L as it is always 1). They correspond to gestation weeks 23 to 42, and they match the precision in the LMSgrowth Excel module.

However after 42 weeks, corresponding to weeks 2,3,4 then months 1,2,3... for the WHO standard, there are only 2 decimal places for M and 4 for

[2020-09-09 10:17] pacharanero commented on #73
@statist7 this is good to know - hopefully this will fix the accuracy issue!
@eatyourpeas I would like to help fix this, perhaps is we can pair on it it would be a good way of increasing my familiarity with that area of the code? Thurs/Fri I have availabilty I think.

[2020-09-09 10:20] statist7 commented on #73
With a bit of luck, recalculating age should improve accuracy across the board.

[2020-09-09 11:47] pacharanero commented on #47
This issue has been fixed - it was actually the client crashing because of some missing data in the server response.
As of today the live Flask client is working fine on the Instructions endpoint. Closing.

[2020-09-09 11:47] #47 closed

[2020-09-09 12:08] eatyourpeas commented on #73
Sorry to be slow to get back to you - that is interesting. The main tables
are the .json files. I will check if there arent any errors.
https://github.com/rcpch/digital-growth-charts-server/tree/alpha/rcpchgrowth/rcpchgrowth/data_tables
S

On Tue, 8 Sep 2020, 10:02 Tim Cole, <notifications@github.com> wrote:

[2020-09-09 12:10] eatyourpeas commented on #73
Good detective work @statist7 thank you. I will look at this and report back.

[2020-09-09 12:32] pacharanero opened #79 "There should be a simple GET endpoint for checking the API is working"
tThere should be a simple GET endpoint for checking the API is working, and aiding debugging for end users.
This should reside at perhaps a `/status` URL so that it can report that the server is up to a simple URL check in a browser
assigned @pacharanero

[2020-09-09 13:22] eatyourpeas commented on #73
@statist7 just looking now at the reference tables I have. The UK_WHO_0_20_Preterm spreadsheet I have has all the datasets stitched together. Here, from 2 weeks to 4 years, M is to 2 dp, S to 4 dp. After this (4-20y) M is 3 dp and S is 5 dp.
I have another reference table (UK_WHO) which runs from 2 weeks to 4 years, where M is to 4 dp and S is to 5dp. Comparing the numbers, apart from the precisio

[2020-09-09 13:41] statist7 commented on #73
The UK-WHO term and preterm spreadsheets include the British 1990 values for age 4-20 years. There are 3dp for M and 5dp for S for OFC in this age range, which match what you already have. So they shouldn't need changing.

[2020-09-09 20:19] eatyourpeas commented on #73
I have updated the data tables with increased precision for the WHO OFC data and this generates charts that look similar to the previous - see commit https://github.com/rcpch/digital-growth-charts-server/commit/fc76a7fd5b5534108f42eca73cecd751b759e32b. @pacharanero will create an endpoint for the react app for you to try it out. A separate conversation is needed with regard to decimal age calculat

[2020-09-10 10:04] statist7 commented on #73
Will my usual client URL catch the latest changes, or should I wait for @pacharanero ?

[2020-09-10 10:28] pacharanero commented on #73
I have been trying to set up a new React client deploy for the 'unstable' branch, which allows us to have two sets of software available - the alpha branch (which we try not to break) and the unstable branch (which we deploy latest code to, and which may break occasionally because of this)

The unstable client will be at https://rcpch-dgc-react-client-unstable.azurewebsites.com/ however there has

[2020-09-10 18:00] eatyourpeas commented on #73
I have pushed these new changes to the 'unstable' branch - so let's wait for @pacharanero to work his magic.

[2020-09-11 14:38] #13 closed

[2020-09-11 15:15] pacharanero commented on #64
Discussed in Sprint Planning 11.09.2020
* The clinical advice is that gestational age correction continues until 1 or 2 years (as appropriate) **corrected age**, thanks @magdaumerska for clarifying this with the advisers.
* This needs to be implemented in code and then we can close this issue. Assigned @eatyourpeas @statist7 @pacharanero

[2020-09-22 10:04] clarotech commented on #16
If you need any help with the FHIR aspects of this - then happy to assist.

[2020-09-22 10:14] pacharanero commented on #16
Thanks @clarotech! Does the approach outlined above seem reasonable?

We're going to have two API endpoints, both will present exactly the same calculations, but the FHIR endpoint will wrap the response in an appropriate FHIR resource. If you have any thoughts regarding this approach, or the choice of resource etc then we'd be pleased to chat

[2020-09-28 10:55] pacharanero commented on #14
The Postman 'Collection Runner' can now execute all of the requests and at present has a test which it runs after each request, checking for a "200 OK" HTTP response.

Postman collection is shared here: https://rcpch-dgc.postman.co/collections/202702-d1daf1c6-3a4c-469d-be2a-e2fcf3d84090?version=latest&workspace=131871e4-cd81-4578-8a6f-1cd2bf19737b

![image](https://user-images.githubusercontent.co

[2020-09-28 12:25] #14 closed

[2020-09-28 12:29] #64 closed, assigned to eatyourpeas, pacharanero, statist7

[2020-09-28 12:31] pacharanero commented on #79
The API now returns JSON self-description data in openAPI3.0 format, from the `/` route, which fulfils the function needed here as well as providing standardised API description data.

[2020-09-28 12:31] #79 closed, assigned to pacharanero

[2020-09-28 12:59] pacharanero opened #82 "Chart Data endpoint receives entire Results as a JSON string - is this necessary? Can we send less data? Can we make it more implicitly structured?"
@pacharanero @eatyourpeas

[2020-09-28 13:07] pacharanero opened #83 "Chart Data Schema in server"

[2020-09-29 17:29] pacharanero opened #84 "Chart Data endpoint should create the data table once and save it and thereafter just serve the cached data table"
request would change to:

* male/female
* ht/wt/ofc/bmi
* decimal age constraints

[2020-10-04 12:08] eatyourpeas commented on #71
This was discussed at Project Board and decision made to de-emphasise colours - leaving it to developers to decide. A comment about it will be made in the documentation. Our current demo clients are black and white. I will close this issue therefore.

[2020-10-04 12:08] #71 closed, assigned to eatyourpeas

[2020-10-04 12:19] eatyourpeas commented on #37
The API has been tested extensively by @statist7 with support from @eatyourpeas against LMSGrowth (Excel addin) with agreement to 1e-4 consistently and 1e-5 mostly. It is not clear why closer agreement is not possible, but may related to the data-types used in the original visual basic code base. Results will be reported to 1e-3 in any case. I am therefore closing this issue.

[2020-10-04 12:19] #37 closed

[2020-10-04 12:21] eatyourpeas commented on #73
This is now resolved. OFC is now accurate to 1e-4.

[2020-10-04 12:21] #73 closed, assigned to eatyourpeas, statist7

[2020-10-07 21:33] eatyourpeas opened #85 "Create response errors from API for common issues"
Error handling in the server does not report back to the client and currently still fails with empty JSON error

[2020-10-09 14:50] eatyourpeas opened #86 "Create fictional children to test API"
Use LMS growth and python RCPCHGrowth to generate some fictional children against which to test API rsults

[2020-10-09 14:52] eatyourpeas opened #87 "Create Unit tests against fictional random generated children"
Use LMS growth to produce gold standard values against which to test the API in the RCPCHGrowth package

[2020-10-09 14:55] eatyourpeas opened #88 "Test API end to end with Fictional data"
Use the generated fictional children data to test the API end to end

[2020-10-14 15:06] statist7 commented on #86
I've created a .csv file with some dummy data in the format required by the flask client.

Currently it is 400 lines long, i.e. 100 x 4 measurements, and is created as follows:
- birth_date is a random uniform between 2012-01-01 and 2019-01-01
- observation_date is a random uniform number of days later, between 0 and 20 * 365
- gestation_weeks is a random uniform number between 22 and 44
- gestati

[2020-10-14 17:09] statist7 commented on #87
This can be progressed using the file with issue #86.

[2020-10-23 09:56] statist7 commented on #86
Here's a new version with SDS. Can we discuss this pm?
[RCPCH.csv.zip](https://github.com/rcpch/digital-growth-charts-server/files/5428737/RCPCH.csv.zip)

[2020-10-24 11:16] pacharanero commented on #86
Thanks @statist7 that is great and I've been able to make progress on the unit testing
Sorry we didn't end up having the Sprint Planning Meeting yesterday.

(For future reference can we try to use *4-digit dates* in all dates in all documents or resources? Internally we are using ISO8601 dates in the code, which looks like YYYY-MM-DD, with the intention to reduce any ambiguity. I've converted the

[2020-10-24 11:28] statist7 commented on #86
Will do, and sorry I didn’t spot it had changed.

Sent from my iPhone

On 24 Oct 2020, at 12:16, Marcus Baw <notifications@github.com> wrote:

﻿

Thanks @statist7<https://github.com/statist7> that is great and I've been able to make progress on the unit testing
Sorry we didn't end up having the Sprint Planning Meeting yesterday.

(For future reference can we try to use 4-digit dates in all dates i

[2020-10-24 13:12] pacharanero commented on #86
I've got this plugged in and working now.

I had to remove the 5 test cases which had `"NA"` as either the measurement value or as the SDS. These are presumably to test those situations in which a BMI centile (for example) cannot exist because references don't exist for that age. I think we should probably create manual test cases for all these possible edge cases. It would have been hard to handl

[2020-10-25 10:25] statist7 commented on #86
That's excellent news.

I'm a bit concerned about the `NA` cases, as they will inevitably happen with ages outside the range. The system needs to handle them gracefully.

I wonder why the precision is only `1e-3` - perhaps I've built some imprecision into my code. Do you know if BMI was the culprit, as I have to handle it differently being a calculated variable?

[2020-10-25 10:30] pacharanero opened #92 "TestDecimalAge needs to be converted to use PyTest"
https://github.com/rcpch/digital-growth-charts-server/blob/784816bc32316fd70e661eb54ed76151ce378094/rcpchgrowth/rcpchgrowth/tests/test_dates.py#L6-L6

[2020-10-25 11:57] pacharanero commented on #86
@statist7

##`NA`
I will handle the NA cases via separate, manually generated 'edge-case' tests - testing things like:
* invalid input values incl nonsensical ones (like numbers for sex and words for gestation_weeks),
* input values out of sensible range (testing for the right type of Error being raised by the class)
* valid inputs which cannot be calculated (eg preterm BMI) should return 'nil' or

[2020-10-25 17:16] eatyourpeas commented on #86
These are 92 that failed out of the ~400 tests run.
None are BMI - all a mix of ofc, height and weight. The main thing in common is they are mostly all preterm with some exceptions, and a few with strange gestations (eg 44 weeks) so I will look at the decimal age calculation and see how these are handled. I think correction currently happens below 37 weeks and everything else is considered term. W

[2020-10-25 17:24] eatyourpeas commented on #86
This is the corrected age function. If the gestation entered is >=37 (TERM_LOWER_THRESHOLD_DAYS) no correction is made, so that should prevent correction for post term babies. If that is what we want.
![image](https://user-images.githubusercontent.com/1058647/97114130-8c799700-16e6-11eb-8a59-ae0d5d6a3c29.png)

[2020-10-25 19:07] eatyourpeas commented on #86
[failures.xlsx](https://github.com/rcpch/digital-growth-charts-server/files/5435724/failures.xlsx)
Just in follow up - included as a separate sheet are the values that pass 1e-4. All the BMIs are here. No obvious patterns.

[2020-10-26 07:26] statist7 commented on #86
It's odd that all the BMIs pass, and most of the ofcs. Weight seems to be the worst. BMI is different because I deliberately did not round it, but calculated it from rounded weight and height.

Yes let's meet to discuss. I can do Wednesday after 3pm or Thursday after 4pm, or Friday.

[2020-10-26 09:04] pacharanero commented on #86
I can do Thursday or Friday at those times @statist7 . How about Friday afternoon before the other meetings we have (postponed from last Friday) - something like 1pm giving us 2 hours to work on this before the HTN prep call and the SPM

[2020-10-26 09:39] statist7 commented on #86
1pm Friday is good for me. I'll do some checking against R in the meantime.

[2020-10-30 09:35] pacharanero opened #93 "confusion re fictional_child_data.py and fictional_children.py"
@eatyourpeas we had a regression noticed today which I think comes from the change to the new `fictional_children.py` controller. I think this came in with the plottable_child_data PR
The endpoint for create_fictional_child_measurements was failing tests in Postman, and when traced back it's because the `fictional_child_data.py` file had been removed from the __init__.py
I've added it back, but I

[2020-10-30 11:55] eatyourpeas commented on #21
Can I suggest that this issue is not MVP but actually a desirable future feature? Growth charts currently published in the UK use the 9 centile format and so to my mind this is in effect endorsed by implication. Given the time frame I will reassign this for the moment, but leave open otherwise.

[2020-10-30 12:03] pacharanero commented on #21
Fully agree, this isn't an MVP feature

[2020-10-30 15:52] pacharanero commented on #83
chart data schema has been reviewed as part of the charting library refactor to NPM package

[2020-10-30 15:52] #83 closed, assigned to nobody

[2020-10-30 15:53] #36 closed

[2020-10-30 15:54] #3 closed

[2020-10-30 16:13] pacharanero commented on #84
This is closed by the move towards using the React library, which contains the reference data inside it
ref
https://github.com/rcpch/digital-growth-charts-react-chart-library
https://github.com/rcpch/digital-growth-charts-react-client/commit/b8dff2dd9c29d3af3c1ce801e10edf18103498d6
https://github.com/rcpch/digital-growth-charts-server/pull/91

[2020-10-30 16:13] #84 closed, assigned to pacharanero

[2020-10-30 16:43] eatyourpeas commented on #82
This has been addressed in following the creation of [digital-growth-charts-react-chart-library](https://github.com/rcpch/digital-growth-charts-react-chart-library). Closing this here.

[2020-10-30 16:43] #82 closed, assigned to nobody

[2020-10-30 16:47] eatyourpeas opened #95 "Loss of precision when converting measurements to SDS and back"
Comparison of the three code bases (RCPCHGrowth, LMSGrowth and SITAR) reveals loss of precision in the process of generating SDS from measurements and back.

[2020-10-30 17:09] pacharanero commented on #41
@magdaumerska @eatyourpeas as discussed earlier today, this was already in our 'long term' road map but we are kken to keep it moving and it would be an excellent addition to the API in the next 6-12 months

[2020-10-31 12:32] pacharanero opened #96 "We should Dockerise the server to simplify setup for devs"
@pacharanero has started work on this with commit https://github.com/rcpch/digital-growth-charts-server/commit/d3a53230011074b28e7146772693ea224caf2829

[2020-11-02 15:17] statist7 commented on #95
I have checked LMSgrowth and my own R code to test the precision of converting to z-score and back again. R has median 16 digits of precision whereas LMSgrowth has 5.

We have already seen this with LMSgrowth, that using the same base z-score for the different measurements leads to z-scores varying in the the fifth place.

Doing the conversion from measurement to z-score and back to measurement gi

[2020-11-02 16:01] pacharanero commented on #95
The React client can do spreadsheets in a similar way to the Flask one, at

https://growth.rcpch.ac.uk/spreadsheet

Let me know if you have any problems.

[2020-11-02 18:30] statist7 commented on #95
Thanks @pacharanero.

I've tried this .csv file (zipped here) which I think is ok, as I've fixed the date format and removed the NAs. But it doesn't do anything with it. Am I missing something?

[RCPCH as posted edited.csv.zip](https://github.com/rcpch/digital-growth-charts-server/files/5477196/RCPCH.as.posted.edited.csv.zip)

[2020-11-03 19:35] pacharanero commented on #95
Hmmmm I've looked at the React client upload feature and it doesn't seem to be doing anything. There are no javascript errors in the console. We need to take a look at this @eatyourpeas at some point.

[2020-11-03 19:58] eatyourpeas opened #99 "Move decimal ages back into reference data"
CUrrently decimal ages are in a separate array, the index of which relates to the index of the corresponding LMS values in the reference data. It would be good to keep the ages together with the reference data.

[2020-11-03 20:04] eatyourpeas opened #100 "Constants"
There are a lot of constants in constants.py, but others are hardcoded elsewhere which would be better brought into one place (eg minimum and acceptable values for each measurement)

[2020-11-03 22:00] eatyourpeas commented on #95
this is my fault I am sorry. When I refactored out the measurement_type
class I did not do this for the spreadsheet endpoint. It is searching for a
measurement_type which does not exist and throws an error.
I will fix this.

On Tue, Nov 3, 2020 at 7:36 PM Marcus Baw <notifications@github.com> wrote:

[2020-11-03 22:10] eatyourpeas commented on #95
This should now be fixed in commit8b23c39
<https://github.com/rcpch/digital-growth-charts-server/commit/8b23c39b74b0a35d9287d87062a35a82362b4386>
to
unstable branch

[2020-11-04 09:20] pacharanero commented on #95
I've confirmed this is now fixed and working at
https://rcpch-dgc-react-client-unstable.azurewebsites.net/

[2020-11-04 09:25] pacharanero commented on #95
I've pulled the changes into `alpha` which means they should be live and usable at https://growth.rcpch.ac.uk/ within about 8 minutes

[2020-11-04 09:37] statist7 commented on #95
Thanks - this works.

There's no download button, but I've copied and pasted the window, which seems to work.

Two comments: the dates are in mm/dd/yyyy format.

And in row 256 (see attached file) the measurement date is missing. It may be because of the early gestation, 22+6.
[RCPCH as posted edited output.txt](https://github.com/rcpch/digital-growth-charts-server/files/5486876/RCPCH.as.posted.ed

[2020-11-04 09:47] pacharanero commented on #95
OK, have you enough you can work with for today? We will look at those issues

[2020-11-04 10:02] statist7 commented on #95
Yes, no prob

--
Population Policy and Practice
UCL Great Ormond Street Institute of Child Health,
30 Guilford Street, London WC1N 1EH, UK

From: Marcus Baw <notifications@github.com>
Reply to: rcpch/digital-growth-charts-server <reply@reply.github.com>
Date: Wednesday, 4 November 2020 at 09:47
To: rcpch/digital-growth-charts-server <digital-growth-charts-server@noreply.github.com>
Cc: "Cole, Tim"

[2020-11-04 10:34] statist7 commented on #95
Further observations on the output, just for info - no hurry.

I can't now get the upload to work, either with the react client or rcpch.

100 extraneous lines are added to the end of the output file, all consisting of bmi `17.77` at age `15.39767`, with SDS `-0.888265` or `-1.064261` depending on pre/term.

[2020-11-10 20:25] eatyourpeas commented on #95
This is being dealt with elsewhere so closing this.

[2020-11-10 20:35] eatyourpeas commented on #70
The conversation has drifted into centiles. The issue here is whether SDS charts should be included in MVP. My feeling is they are not in the red book and should be part of a future release. I would like to bundle SDS charts with trend analysis also.
If we all agree I will move this out of MVP? @statist7 @pacharanero I would be grateful if you could let me know where you both stand.

[2020-11-10 20:40] eatyourpeas commented on #69
Just in update - the API plottable-child endpoint returns SDS and measurement at both ages. The charting packing tests to see if the dates are the same (ie no correction has been made) and plots then only the chronological age as a small circle. If the values are different (ie a correction for prematurity has been made), both are plotted, the value corresponding to the corrected age plotted as a c

[2020-11-10 20:43] eatyourpeas commented on #58
This is fundamentally about error handling and really is a duplicate issue so closing here

[2020-11-10 20:43] #58 closed

[2020-11-10 20:45] eatyourpeas commented on #50
@pacharanero I think this issue is now fixed?

[2020-11-10 20:46] eatyourpeas commented on #50
(... though I don't think we have the growth references for Hobbits - perhaps @statist7 has a copy? )

[2020-11-10 20:49] eatyourpeas commented on #35
I think this is a duplicate issue (see #88 ). Closing here.

[2020-11-10 20:49] #35 closed

[2020-11-10 20:53] eatyourpeas commented on #26
In fact, now the project board have revised their decision and do want some comments to be returned with the centile value. This is now implemented and so at some point translation will be necessary. Leaving open for the moment...

[2020-11-10 21:27] pacharanero commented on #26
We can store the strings in Internationalisation/Locale files in YAML and get them using this
https://pypi.org/project/python-i18n/

[2020-11-10 21:29] pacharanero commented on #50
Yes, this refactor was completed a good 6 weeks ago. It's been moved to done but not closed. I think the kanban automation only works the other way around (if you close the issue it's moved to done automatically, not the other way)

[2020-11-10 21:29] #50 closed

[2020-11-10 21:31] pacharanero commented on #70
I am very keen to keep MVP really tight and focused on a genuinely minimum viable product and certainly we shouldn't be implementing stuff that's not currently in the existing charts or the red book. I'd agree this is for a future development roadmap.

[2020-11-10 23:38] statist7 commented on #70
I agree, not MVP.

[2020-11-11 16:51] #100 closed, assigned to eatyourpeas, pacharanero

[2020-11-17 07:43] pacharanero opened #102 "Data Protection and Privacy pages in the documentation"
I've done a little research into the requirement for a Data Protection Impact Assessment (DPIA)

https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/accountability-and-governance/data-protection-impact-assessments/#dpia3

From this I don't think we will need a formal DPIA, but we should certainly write a section in the documentation ab

[2020-11-17 19:51] pacharanero commented on #102
this will be closed by #103

[2020-11-17 19:52] pacharanero commented on #63
WIP via #103

[2020-11-17 20:55] pacharanero commented on #63
closed

[2020-11-17 20:55] #63 closed, assigned to eatyourpeas, pacharanero, statist7

[2020-11-20 15:31] pacharanero opened #104 "Fix the example in /calculation/"
Currently the example namespaceing`term-2-months-male-height:` causes a problem
Needs refactoring so it works better in the APIM view.

[2020-11-20 17:02] pacharanero commented on #75
The API Server no longer performs cross-origin requests. In the days when we were separating out the Flask client there might have been a period where the Flask Client needed to be able to call the API server. But the API server is completely self contained now, and doesn't call out to any other servers. So I think this can be closed, if you agree @eatyourpeas ?

The React client may still require

[2020-11-21 09:05] #102 closed, assigned to pacharanero

[2020-11-21 09:17] pacharanero commented on #41
PR #106 takes us quite a bit closer to this goal

[2020-11-21 11:04] eatyourpeas opened #107 "Refactor Measurement Class to accept multiple references"
The Measurement class can currently only accept UK-WHO. It needs to accept Turner and T21 references also.

[2020-11-21 12:17] eatyourpeas commented on #107
fixed

[2020-11-21 12:17] #107 closed, assigned to eatyourpeas

[2020-11-21 12:19] eatyourpeas opened #109 "Refactor Measurement Value"
measurement_value and observation_value are interchangeable. We should stick with observation_value.

[2020-11-21 12:57] #109 closed, assigned to eatyourpeas

[2020-11-21 12:59] eatyourpeas opened #112 "measurement_from_sds needs to be agnostic of the reference it is applied to"
measurement_from_sds currently is specific to UKWHO. It will have to be agnostic to reference if charts are to be draw for all refs.

[2020-11-21 16:38] eatyourpeas commented on #112
fixed

[2020-11-21 16:38] #112 closed, assigned to eatyourpeas

[2020-11-21 16:39] eatyourpeas opened #114 "Percentage median BMI not working"
This needs to be able to work for all references

[2020-11-21 19:10] #114 closed, assigned to eatyourpeas

[2020-11-21 19:10] #99 closed, assigned to eatyourpeas, pacharanero

[2020-11-21 19:11] eatyourpeas commented on #104
I think you fixed this @pacharanero ?

[2020-11-21 19:12] eatyourpeas commented on #96
I would like to learn more about dockerising. Perhaps we could pair on this one @pacharanero ?

[2020-11-21 19:15] eatyourpeas commented on #93
I am not entirely sure we really need the fictional_child end point any more. I think it is a nice feature to have for users wanting to create dummy data, but certainly not essential. I will reclassify this as a desirable feature for the moment. If you agree, I think we should deprecate what is there for the moment.

[2020-11-21 19:17] eatyourpeas commented on #86
I think this issue is now complete. Our troubleshooting has identified that disagreement between R and python is not to do with the randomly generated cases, but to do with the differing implementation of splines. I will close this.

[2020-11-21 19:17] #86 closed, assigned to eatyourpeas, pacharanero, statist7, atheneheaven

[2020-11-21 19:20] eatyourpeas commented on #75
CORS makes my head spin, like [Professor Brainstawm](https://www.amazon.co.uk/Incredible-Adventures-Professor-Branestawm/dp/1862307369). On my local machine I have to switch security off on the browser. But once deployed it works so I think we should close this.

[2020-11-21 19:20] #75 closed, assigned to pacharanero

[2020-11-21 19:23] eatyourpeas commented on #72
Not sure how to implement this. Currently BMI is there from 2 weeks to 2 years in UK-WHO, and 1-20 in T21. I think project board are worried about the interpretation of BMI and want it left out of MVP for the moment. I am not sure we whether we should constrain the requests to accept BMI only in >2y, or throttle it further down in the code. And of course the chart package will need updating.

[2020-11-21 19:36] pacharanero commented on #72
Perhaps we could set a (possibly temporary) override which filters for 2 weeks - 2 years and returns "Although BMI can be calculated in the UK-WHO references for this age group, it is considered by experts in growth to be potentially misleading and therefore the value is not returned."

And maybe even include a link to this Issue (we could add text from Project board to this issue explaining the d

[2020-11-21 19:41] pacharanero commented on #93
Yes I do agree it's not a huge priority.

If we remove it we should supply implementers with an alternative source of realistic test data, because producing plausible test data is much harder for non-clinicians than we think it is. I struggle sometimes to try to come up with really plausible cases (not just for growth but for anything when I'm testing stuff)

An alternative could be simply a JSON

[2020-11-21 19:42] pacharanero commented on #96
Definitely. Let me know when is good for you.

On Sat, 21 Nov 2020 at 19:12, Simon Chapman <notifications@github.com>
wrote:

[2020-11-21 19:59] pacharanero commented on #104
Half fixed it.

For some reason when I first tried to set it up, I thought that you could create more than one 'example'. Apparently in JSON Schema this is supported (`examples:` plural) but not yet in openAPI3.0, which is based off an earlier version of JSON Schema. (I'm parroting all this from a Stack Overflow question BTW)

So I initially created an example as a JSON key:value object under a na

[2020-11-21 22:32] eatyourpeas commented on #41
The Turner and T21 references are now in RCPCHGrowth, and can be used to generate measurements from SDS and SDS from measurements. There is also a function to generate plottable chart data of 9 centiles for all the references.
It now needs an endpoint to wire it all up to.

[2020-11-22 10:54] BB-1313 commented on #93
I can see you're both busy this weekend!  If it is just a set of realistic test data why not just acquire it from a clinical data set, I'm sure I could get a dataset of pretty much any specificiation from our EPR?
If it needs to be a varying sample for test purposes tihi could be randomly selected from a larger fixed sample?
Would that work?

[2020-11-22 11:40] eatyourpeas commented on #93
The nice thing about growth data is that it is very easy to autogenerate and removes any of the confidentiality issues. I created a function in the early days which took two dates, a sex and gestation, a starting SDS, a measurement method and a drift constant, and generated a 'fictional child' growing across a timespan. @statist7 has written code in R which generates a random set of 400+ children

[2020-11-22 11:46] eatyourpeas commented on #23
this is actually a duplicate of #23. Closing here.

[2020-11-22 11:46] #23 closed

[2020-11-22 11:53] eatyourpeas commented on #27
Not sure how this got logged as completed. The title is also misleading. This is fundamentally about testing thrive lines, so I have changed the title. It is still on the wish list to implement once MVP is complete. I am leaving open but moving to roadmap-future for the moment.

[2020-11-22 11:56] BB-1313 commented on #93
Yes I saw that, I was thinking more at some stage some real data with errors might be worth throwing at it!
Confidentiality shouldn't be an issue especially if it's just the individual observations.
Probably for later when you have an MVP.

[2020-11-22 14:37] eatyourpeas commented on #93
@pacharanero has plans to throw all kinds of crazy data at it, including letters and @$*! to make sure it handles it all gracefully. I have noticed actually that if you put bmi uppercase rather than lowercase it breaks with no sensible error so that definitely needs fixing. @pacharanero do you know anything about Enums in python? That is what I would do in JS/Android/Swift. Then we could throw a T

[2020-11-22 14:42] eatyourpeas opened #117 "Implement type or value errors when incorrect data-types are passed into functions."
Currently there are two Enum types: `measurement_method` which accepts `['bmi', 'ofc', 'height', 'weight']`, and `reference`, which accepts `['T21', 'TURNER', 'UKWHO']`.
These are not implemented as Enums though, so if sent in the wrong case or spelling, they do not throw a sensible error. Perhaps one to pair on @pacharanero ?

[2020-11-24 07:43] pacharanero commented on #87
We now have hundreds of test data points being fired at the Measurement class in testing. There is always more testing we can add, it will be ongoing. But for now I'm going to close this as we have got to a point where we have got the test suite started and have automated testing on deploy to Azure (via GH)

[2020-11-24 08:27] #87 closed, assigned to atheneheaven

[2020-11-25 14:19] pacharanero commented on #16
I had a chat with some UK GP IT experts with a lot of experience in SNOMED terminology, regarding the correct coding entities to use. They agreed that the below are the correct SNOMED concepts.

[code]

I'm going to propose the following as a rough idea of the JSON structure to be added to the 'simple' API response.

[code]

We should support SNOMED-CT, which is what is currently used in GP system

[2020-11-25 14:25] eatyourpeas commented on #16
What about SDS and advice strings?

[2020-11-25 14:39] pacharanero commented on #16
We can add them as needed, you can look for suitable terms here:

**SNOMED-CT** https://termbrowser.nhs.uk/?perspective=full&conceptId1=446974000&edition=uk-edition&release=v20201028&server=https://termbrowser.nhs.uk/sct-browser-api/snomed&langRefset=999001261000000100,999000691000001104

**ReadV2** https://hscic.kahootz.com/connect.ti/t_c_home/view?objectId=407588

[2020-11-25 15:37] pacharanero commented on #16
Another JSON format for this would be to use FHIR's CodeableConcept verbatim (even though the `simple` API won't return FHIR (there will be another endpoint for FHIR)

[code]

[2020-11-28 14:38] eatyourpeas opened #118 "Create uk-who, turner and T21 endpoints within blue print"
Pair programming today we have already begun this process, creating a separate blueprint file for uk-who.
To complete this we need to:

- [x] add all outstanding uk-who functions (eg plottable child) to the uk-who blueprint file

- [x] create T21 blueprint and move T21 functions

- [x] create Turner blueprint and move turner functions

[2020-11-28 14:39] eatyourpeas opened #119 "create chart_data endpoints for all references"
The charting package has all the chart data hardcoded to prevent making api calls. Some users may not wish to use the charting package and will instead want the chart data with child measurements precalculated.

[2020-11-29 19:53] pacharanero opened #120 "Instructions endpoint is a candidate for deprecation)"
https://github.com/rcpch/digital-growth-charts-server/blob/07f7f135725087d18dbe9cf58e838cf1852c0c2a/app.py#L78-L78

[2020-11-29 19:53] pacharanero opened #121 "Instructions endpoint is a candidate for deprecation"
https://github.com/rcpch/digital-growth-charts-server/blob/07f7f135725087d18dbe9cf58e838cf1852c0c2a/app.py#L78-L78

[2020-11-29 19:54] pacharanero opened #122 "Fictional child endpoint may be better renamed as a researcher tool?"
https://github.com/rcpch/digital-growth-charts-server/blob/07f7f135725087d18dbe9cf58e838cf1852c0c2a/app.py#L72-L72

[2020-11-29 19:56] pacharanero opened #123 "the spreadsheet endpoint probably needs to be deprecated"
https://github.com/rcpch/digital-growth-charts-server/blob/07f7f135725087d18dbe9cf58e838cf1852c0c2a/app.py#L100-L100

[2020-12-02 12:24] pacharanero commented on #43
I've changed the most irritatingly perky messages for now, but they may need changing in the future.

The APIM panel area for changing the HTML content of these messages is here https://portal.azure.com/#@rcpch.ac.uk/resource/subscriptions/99e313f5-79fe-4480-b867-8daf2800cf22/resourceGroups/RCPCH-Dev-API-Growth/providers/Microsoft.ApiManagement/service/RCPCH-Growth-Charts/apim-emails

[2020-12-02 12:24] #43 closed

[2020-12-03 08:16] pacharanero opened #124 "Prebuilt Docker image on Docker Hub"
https://github.com/rcpch/digital-growth-charts-server/blob/6047d44d146d4cb5246c6198d6e3a0295c724789/docs/developer-documentation/README.md#L46-L46

[2021-01-08 16:17] #66 closed, assigned to eatyourpeas

[2021-01-15 19:32] eatyourpeas opened #125 "GAMLSS implementation"
The current calculations using the Cole LMS method is vulnerable in certain circumstances where the GAMLSS method might be more appropriate. We should implement both methods of SDS and centile calculation and compare.

[2021-01-18 18:31] statist7 commented on #125
I've been provisionally updating my code to include the GAMLSS adjustment, but I've realised it is a can of worms.

The problem is that it alters the relationship between z-score and centile, and means for example that a measurement on the median for age has a z-score that is not exactly zero. This troubles me!

Also, in my testing I tried to get the same answer from the GAMLSS code and my own, bu

[2021-01-18 19:53] statist7 commented on #125
Further to the above, I've checked to see by how much the z-score changes using the different definition.

It depends on the values of L and S (not M), and is largest for large negative z. Based on the 3990 rows in the UK90 the largest absolute discrepancies in z-score are:
          z = -3                  z = -2                  z = -1                     z = 0                    z = 1

[2021-01-18 19:55] pacharanero commented on #125
Sounds reasonable. These are my favourite kinds of issues - one we can close after a hefty statistical discussion which I barely understood :rofl:

[2021-01-19 16:43] statist7 commented on #95
Sorry, I can't find the relevant issue for this.

I'm using the RCPCHgrowth googlesheet to test randomly generated data. I've generated a test file in R and copied and pasted it into the sheet, but it gives these errors. I'm sure the relevant columns are numbers not characters.

Is there a bug, or am I doing something wrong?

![RCPCHgrowth Screenshot 2021-01-19 at 16 24 39](https://user-images.git

[2021-01-19 19:53] eatyourpeas commented on #95
No worries @statist7 - this was more of a side project and so there is nowhere really to post questions. This is as good a place as any.
I think you have included a new column A which has knocked all the parameters out. If you look at the attached image you select the cell at the end of the row and then enter the cells from b onwards in that order. I am sure there must be a way for google sheets t

[2021-01-19 19:53] #95 closed, assigned to statist7

[2021-01-19 20:00] eatyourpeas commented on #125
I agree. And in clinical practice in fact it is actually quite common to see z scores of -6 or +6 when talking about weight or BMI, . I will leave the code in for posterity (the two new methods are ```gamlss_measurement_for_z``` and ```gamlss_z_for_measurement``` in ```global_functions.py```.) though it has not yet been tested.

[2021-01-19 20:00] #125 closed, assigned to eatyourpeas, statist7

[2021-01-19 20:08] eatyourpeas commented on #123
this has now been deprecated. There is google sheets add-in instead.

[2021-01-19 20:08] #123 closed, assigned to nobody

[2021-01-19 20:09] #120 closed, assigned to eatyourpeas

[2021-01-20 12:34] statist7 commented on #95
Sorry, that was clottish of me.

However I'm still struggling. I have formatted the two date columns as ISO 8601 format, made sure the arguments all line up, and validated the two columns as dates, but it still says that they are not valid dates.

??

[2021-01-20 14:20] eatyourpeas commented on #95
Not your fault at all
It definitely needs improiving
The dates have to be YYY-MM-DD ( I think I told you the wrong format) and they have to be a string (not a date)
This bit I will tidy up
I have done your ~4000 rows and looks fine
Let me know if you have any further problems

[2021-01-20 14:44] statist7 commented on #95
Thanks @eatyourpeas - it's good to see it working.

[2021-01-21 19:02] statist7 commented on #95
I've now been able to compare LMSgrowth with RCPCHgrowth and it throws up genuine errors! There are 16 entries where the sds discrepancy exceeds 0.005.

They are for four very preterm children aged >2 whose corrected ages are <2. So the preterm not the term reference should be used.

[2021-01-21 19:45] eatyourpeas commented on #22
Discussed and felt not practical.

[2021-01-21 19:45] #22 closed

[2021-01-21 19:51] eatyourpeas commented on #95
Thanks @statist7 . This issue is closed and not really related so I will create a new issue. There must be an error as you say as to which reference is selected at 2y.

[2021-01-21 19:52] eatyourpeas opened #126 "Large error for preterm babies plotted at 2 y and 1y"
issue posted on behalf of @statist7
I've now been able to compare LMSgrowth with RCPCHgrowth and it throws up genuine errors! There are 16 entries where the sds discrepancy exceeds 0.005.

They are for four very preterm children aged >2 whose corrected ages are <2. So the preterm not the term reference should be used.

[2021-01-21 19:55] eatyourpeas commented on #126
@statist7 could you post here the the 16 entries for me to reproduce? If you have the calculated corrected ages that would be helpful also.

[2021-01-22 10:23] statist7 commented on #126
These are the results for the 16 measurements.

![Screenshot 2021-01-22 at 10 19 45](https://user-images.githubusercontent.com/5055653/105478708-6ccd1d00-5c9b-11eb-8b30-a96bc5d3ef75.png)

RCPCH uses the term_sds while LMSgrowth uses the preterm_sds. I think the preterm is correct based on the uncorrected and corrected ages.

Note that the check columns compare rcpch and lms. There is a tiny loss o

[2021-01-22 16:55] statist7 commented on #126
The discrepancies above for 4 very preterm children arise because RCPCH uses postnatal age while LMS uses corrected age to test at the 2-year cut-off.

I've checked the dataset of 1000 subjects and there are no preterm children with gestation 32+ weeks, postnatal age >1 year and corrected age <1 year, i.e. the equivalent group to the above at the 1-year cut-off. So I'll need to create a couple.

[2021-01-22 17:37] statist7 commented on #126
If you go to line 391 of the RCPCHgrowth spreadsheet you'll find a boy of 29 weeks gestation, length 76.1 cm and length z-score 0.54. His postnatal age is 1.14 and his corrected age is 0.936, and the z-score is correctly the preterm z-score.

If now you change his gestation to 32 weeks his z-score changes to -0.64, which is the term z-score. But his corrected age is still less than 1, only 0.98.

[2021-01-22 17:46] statist7 commented on #126
Having said all that, I do wonder if we should lean on Charlotte to alter the definition. It's easy for everyone to know when a child reaches 1 or 2 years postnatal age, but much less easy to know about their corrected age.

@magdaumerska Perhaps we should raise at the project board next week?

[2021-01-22 18:11] eatyourpeas commented on #126
That is very helpful analysis thank you @statist7. Changing from chronological to corrected decimal age at 1 and 2y is a very simple change in terms of the code. I would be happy to make the change if we get rid of chronological age altogether 😉.
Best thing is if I create a new branch and make the change so it is easy to move over if subsequently that is what is decided at project board.

[2021-01-22 18:19] eatyourpeas commented on #125
Just for the sake of documentation: as we are not implementing these functions I will not publish to production but leave the [branch](https://github.com/rcpch/digital-growth-charts-server/tree/gamlss) for posterity. Please note to users wishing to implement the GAMLSS methods they have not been tested or validated. They are harder to implement because they involve calculating SDS, then centile, m

[2021-01-22 18:51] eatyourpeas commented on #126
I have made those changes which can be found [here](https://github.com/rcpch/digital-growth-charts-server/blob/age-correction/rcpchgrowth/rcpchgrowth/date_calculations.py), currently in a separate branch. The two functions are below. The corrected_decimal_age function calls the chronological_decimal_age function which calculates the difference between two dates in years. It uses this value as a st

[2021-01-24 13:38] #93 closed, assigned to eatyourpeas, pacharanero

[2021-01-24 13:39] #88 closed, assigned to pacharanero

[2021-01-25 10:11] magdaumerska commented on #126
Thank you @statist7 and @eatyourpeas - I will flag this matter at the Board meeting on 27.01.2021.

[2021-01-25 10:33] statist7 commented on #126
Please forgive a couple of comments on the code...

I don't talk Python, but  the lines in `chronological_decimal_age` reading

`days_between = observation_date - birth_date`
`chronological_decimal_age = days_between.days / 365.25`

look odd to me, with `.days` added to `days_between`. But maybe it's a Python convention that I know nothing about.

And secondly, the `if elif elif else` block can be

[2021-01-25 16:34] eatyourpeas commented on #126
The `days_between` is a variable that could be better named perhaps as dates_interval or somesuch.  It is really a datetime object that could be expressed in years, months, days, weeks, hours, minutes, seconds or miliseconds. The `.days` just selects the days from the object.
You are right about the conditional statements I can tidy that up.

[2021-01-25 16:58] eatyourpeas commented on #126
This is very helpful feedback @statist7  - thank you for taking the time to look through. Happy to streamline further if you wish.
[code]

[code]

[2021-01-26 11:43] statist7 commented on #126
Sorry to labour it, but your `elif` clause is over-complicated. You have already excluded the extremely preterm so it just needs
`elif (pregnancy_length_days < TERM_LOWER_THRESHOLD_LENGTH_DAYS) and corrected_age <= 1:`

[2021-01-26 19:54] eatyourpeas commented on #126
Forgive me you are quite right.
[code]

[2021-01-27 12:55] eatyourpeas commented on #126
This issue is now largely nolonger relevant following project board meeting today where the decision was made to correct for gestational age across the life course. It was suggested that corrected age would be the default representation charts, but that a toggle button might show the chronological ages also. Clarity is needed around term, as to whether age correction continues through 37-42 weeks,

[2021-01-27 12:55] #126 closed, assigned to eatyourpeas, statist7

[2021-01-27 12:59] eatyourpeas opened #127 "Age correction across the life course"
At project board today it was decided that age correction until 2 y in under 32 week gestation, and until 1 y corrected age for <37 weeks had been created for the paper charts but could now be abandoned as the api can accurately correct across the life course. This might create a crowded chart and so it was suggested a toggle button be applied to the chart to show/hide the chronological age.

[2021-01-27 13:02] eatyourpeas commented on #127
@statist this is my starter for 10

[code]

[2021-01-27 13:06] eatyourpeas opened #128 "Do we need the term reference?"
At project board today the decision was made to correct for gestational age, even when term, across the life course.
This now presents a dilemna with regard to the term reference, which has historically averaged the L, M and S across 37-42 weeks, and used this for all calculations over this time period. Centiles are not rendered over these weeks.

If age is now corrected, it would follow that the

[2021-01-27 20:01] eatyourpeas commented on #128
Just to say that commit b5f3cc6cdbdd09ced9fa109e501cb81244915be0 in branch age-correction has removed the term reference. This branch has also removed all code limiting age correction, so this would now happen at any gestation across the life course. This change, if agreed by project board, therefore would also close issue #127.

[2021-01-27 20:18] pacharanero commented on #128
Great stuff boss. This really is moving forward the state of the art in growth. Continuous gestational age correction!

[2021-01-27 20:22] BB-1313 commented on #128
Seconded!

Simon were you surprised?  You didn’t think this was likely last time it came up but it’s definitely a significant technical step forward to remove a convention like that and I’m sure it will simplify analysis and coding in the long run.

Is it worth putting an update on the thread on discourse to begin the necessary raising of awareness?

From: Marcus Baw [mailto:notifications@github.c

[2021-01-27 20:27] eatyourpeas commented on #128
thank you @BB-1313 yes I was surprised, but I think the project board saw it made sense when they saw the charts we had built. Electronic charting takes all the pain away and protects from human error. Why would you not correct if the computer will do it for you? Though I will still miss those paper charts in a nostalgic kind of way.

[2021-01-27 20:33] BB-1313 commented on #128
We can have one framed once it’s all done and you can hang it on the wall for posterity!

I noticed your other comment about dealing with acceptable post-natal weight losses but that’s presumably relatively easy to flag at whatever level is conventional alongside the core function of charting/normalising from raw data?

It is also something that is still going to be largely a clinical responsibili

[2021-01-29 12:21] statist7 commented on #65
Again, not sure if this is the best place to report.

I've now checked the SDS calculations for LMSgrowth, RCPCHgrowth via Google Sheets and my own R code, and the agreement is acceptable.

The screenshot compares the 3 sds values as absolute differences (after excluding the 16 wrong RCPCH values I reported last week).
![Screenshot 2021-01-29 at 12 16 21](https://user-images.githubusercontent.com/

[2021-01-31 12:38] eatyourpeas commented on #65
This is great @statist7 thank you. We now have 2 branches - one where we correct for decimal age until 1 or 2 y _chronological age_ depending on gestation at birth (which is feeding the google sheets), one where we correct for all gestations including term.  We perhaps need to decide where we take this.

[2021-01-31 12:38] #65 closed, assigned to eatyourpeas

[2021-01-31 12:43] eatyourpeas commented on #127
By the way, this only tangentially relevant. The concept of term itself is called into question in [bmjopen](https://bmjopen.bmj.com/content/9/4/e025275): cognitive scores are significantly different between babies born early term and 40 weeks. Perhaps this is just an association so caution need, but by correcting for all ages of gestation it may be easier to decide if this is genuine, and if so n

[2021-02-05 16:03] pacharanero commented on #72
Discussed as SPM 5.2.21
For re-discussion with senior Project Board members in next couple of weeks

[2021-02-06 13:20] pacharanero commented on #122
Fictional child endpoints have all been removed for now as not really MVP and no longer needed internally.
If we need such synthetic data functionality in the future we can re-add it.
If your use of the APIs needs synthetic child data then please comment below as this helps us gauge the usefulness of such a feature, the requirements, and the audience.

[2021-02-06 13:20] #122 closed, assigned to pacharanero

[2021-02-06 13:25] pacharanero commented on #96
I've created a Dockerfile and some scripts `s/start-docker` and `s/rebuild-docker` which assist in the creation of the image and the container. Inside the container should be the correct Python version, dependencies, and a running application server.

The main use of this is to help standardise and simplify the setup process for those developing the API code or running locally for testing. The API

[2021-02-06 13:25] #96 closed, assigned to eatyourpeas, pacharanero

[2021-02-09 19:55] #119 closed, assigned to eatyourpeas, pacharanero

[2021-02-09 19:57] #118 closed, assigned to pacharanero

[2021-02-09 19:58] #41 closed

[2021-02-09 19:59] eatyourpeas commented on #21
This is now implemented

[2021-02-09 19:59] #21 closed

[2021-02-13 17:00] chvanlennep opened #131 "Shell scripts for building / running server in docker fail"
**Environment:**

**Running rebuild-docker script fails. Output:**

I think this might be because of the default directory the script runs from? I added in some code to change up a directory and the script ran without issue:

[code]

**Running docker / server**

After successfully building docker image, start-docker scripts completes without errors, but no working flask server. When attempting to

[2021-02-16 12:48] BB-1313 commented on #127
Hi all,
Have you as the development group or the board had considered who the first "clients" might be?
Given they have achieved I believe 100% coverage in terms of UK neonatal units is it worth engaging directly with CleverMed (Badgernet) regarding the API at an early stage?
Basil

[2021-02-16 12:50] pacharanero commented on #127
BadgerNet came to one of our Webinars and are interested already yes. John Badger said in the comments "this is manna from heaven".

[2021-02-16 12:58] BB-1313 commented on #127
Good to know

I wonder why they hadn’t considered doing it internally for a while but that seems the way in the commercial/proprietary world I suppose?!

From: Marcus Baw [mailto:notifications@github.com]
Sent: 16 February 2021 12:51
To: rcpch/digital-growth-charts-server <digital-growth-charts-server@noreply.github.com>
Cc: Basil <Basil.bekdash@gmail.com>; Comment <comment@noreply.github.com>
Sub

[2021-02-17 10:58] eatyourpeas commented on #72
Decision at project board: 11th February 2021 - BMI to be returned down to 2 weeks as per reference data. However, ePCHR should only render BMI from 4y and up

[2021-02-17 10:58] #72 closed, assigned to eatyourpeas

[2021-02-17 10:59] pacharanero commented on #127
Age correction across all lie course (not stopping at 2 yrs or 1 yr) is now enabled and is in testing

[2021-02-18 10:13] statist7 opened #132 "We need to make the API easy to cite - here's how"
[https://www.r-bloggers.com/2021/02/make-your-r-package-easier-to-cite/?utm_source=feedburner&utm_medium=email&utm_campaign=Feed%3A+RBloggers+%28R+bloggers%29](url)

The link is from R-bloggers but the principle is universal.

[2021-02-18 10:17] pacharanero commented on #132
OK thanks, I will take a look at how we do it

[2021-02-18 10:22] pacharanero commented on #128
This is implemented in branch term-references-removed, and once we're happy with testing it will be merged into unstable

[2021-02-18 10:32] eatyourpeas commented on #132
Good idea @statist7 - This looks easy to do. Github needs to be linked to [Zenodo](https://about.zenodo.org/) see Github [docs](https://guides.github.com/activities/citable-code/)

[2021-02-18 10:40] eatyourpeas commented on #132
Thinking maybe we should do this once we have finalised decision on decimal age correction.

[2021-02-18 11:13] pacharanero commented on #132
Agreed - and I think the Project board team need to publish that decision in a Paeds journal so we can cite the change in our code really too

[2021-02-19 14:19] eatyourpeas opened #133 "Add UK90 preterm reference to Trisomy 21"
This was a decision by the project board, on the assumption that babies born with T21 would have very similar birth weights to babies born without T21. When implemented though in fact this was not the case and therefore this idea has not been implemented.
![image](https://user-images.githubusercontent.com/1058647/108515792-6099a700-72bd-11eb-9022-cdc0c5bb1981.png)

[2021-02-19 14:19] eatyourpeas commented on #133
Opened this issue really for documentation purposes.

[2021-02-19 14:19] #133 closed, assigned to eatyourpeas, statist7

[2021-02-19 14:57] pacharanero commented on #124
The more I think about this the more I don't actually think it's really necessary.
Building your own local docker image from the Python upstream is fairly fast

[2021-02-19 14:57] #124 closed, assigned to pacharanero

[2021-02-19 15:14] pacharanero commented on #26
I will do this in the next sprint.

[2021-02-19 15:22] pacharanero commented on #16
I am pausing work on this until the changes to Term References and Gestation Age Correction are all stable

[2021-02-19 15:27] pacharanero commented on #59
I added a detailed disclaimer text to the Server README.md mainly warning people against self-hosting the server. The only validated and safe server endpoint is the one we run.

[2021-02-19 15:27] #59 closed, assigned to pacharanero

[2021-02-19 15:40] #85 closed, assigned to pacharanero

[2021-02-19 15:45] #69 closed, assigned to eatyourpeas

[2021-02-19 16:10] pacharanero commented on #104
This is all being caused by a bug in Azure's APIM, linked to rcpch/api-management-platform/issues/9

[2021-02-19 16:13] #117 closed, assigned to eatyourpeas

[2021-02-19 16:25] pacharanero commented on #131
Have you run `pip install -r requirements.txt`? This step installs all the necessary python packages.
Updated dev docs are coming but you can preview them here https://github.com/rcpch/digital-growth-charts-server/blob/term-reference-removed/docs/README.md#setup-for-this-repository

[2021-02-19 16:26] pacharanero commented on #102
Privacy Policy is here https://dev.rcpch.ac.uk/privacy

[2021-02-19 16:30] pacharanero commented on #121
I don't think these endpoints really make much sense now that we've deprecated the Flask client
We have plenty of Instructions in dev docs, dev portal, and growth.rcpch.ac.uk
The references data is not yet organised enough to warrant its own endpoint, but we are gathering it all at https://github.com/rcpch/growth-references

[2021-02-19 17:04] statist7 commented on #127
@eatyourpeas this afternoon seemed to be rowing back from the idea of providing a toggle to switch between unadjusted and adjusted age on the chart, on the grounds that it's not obvious which should be the default.

A solution would be to use the status quo, i.e. to default to
- unadjusted age for term babies
- adjusted age up to 1 year for preterm babies, and
- adjusted age up to 2 years for very

[2021-02-19 23:03] chvanlennep commented on #131
Docker already does this when the container is created- it's included in the DockerFile config.

 I also tried running the start-server script from within the container, but that did not work either.

[2021-02-20 16:43] eatyourpeas commented on #127
Thank you @statist7 . This is a charting issue so will move it to the charting package. I am very happy to implement it - I would love to show you how it works at the moment before making the change though.

[2021-02-22 10:03] statist7 commented on #127
I'd love to see it. Do send me a zoom invite - tomorrow is free for me.

[2021-02-22 11:23] pacharanero commented on #131
I think you are mixing up the purposes of the scripts.

`s/start-server` is only for when you are running the server _natively_ on your machine. Don't use it when you are using the Docker container.

`s/rebuild-docker` and `s/start-docker` are for when you are using the Docker container. They automatically should start Flask inside the Docker container.

I will have a look at the docs and check it

[2021-02-22 11:54] chvanlennep commented on #131
Thanks Marcus- I appreciate that the start-server script is designed for native environment installs.

I tried that script only because of the problems I got when using the start-docker script, thinking that perhaps the server needed to be started once the container was running.

Here are the error headings in the html when navigating to localhost:5000 after using the current start-docker script:

[2021-02-22 12:24] pacharanero commented on #131
Ah OK thanks. I will look at your modifications and see if they work on my machine.

[2021-02-22 19:43] eatyourpeas commented on #128
This was closed with PR af456e2

[2021-02-22 19:43] #128 closed, assigned to eatyourpeas, statist7

[2021-02-22 19:44] eatyourpeas commented on #127
This was closed with PR af456e2

[2021-02-22 19:44] #127 closed, assigned to eatyourpeas, statist7

[2021-02-22 19:52] eatyourpeas commented on #19
This issue may never be closed so I will close it now. We have to date build clients in flask and react, as well as built a typescript/react customisable charting library. @chvanlennep has started work on a react native client. As  requests for new clients arrive, we can create issues as we go.

[2021-02-22 19:52] #19 closed

[2021-02-22 19:56] eatyourpeas commented on #57
This should actually be possible now as the `unique_child` has been deprecated, made easier also by the loss of the term reference.

[2021-02-22 19:56] #57 closed

[2021-02-24 16:13] pacharanero opened #135 "Date(Time) Format for API might need to be YYYY-MM-DD”T”HH:MM:SS"
3.2.8 Looking at the FHIR DateTime it is a full W3C specified, time-zone-aware DateTime such as 2002-10-10T12:00:00-05:00 and I think perhaps we should use that everywhere. In theory it could affect the centile, if a child had been born in one time zone but measured in another, the decimal age could be moved back or forward by one day. @eatyourpeas

Table 2
I noted the format for DateTime uses ful

[2021-02-24 16:23] statist7 commented on #135
If FHIR needs the time then obviously the API should provide it. But we should be clear that only the date and not the time is used in the calculation.

[2021-02-24 16:41] pacharanero commented on #135
Yes, completely agree.

[2021-03-01 15:26] atheneheaven commented on #104
Hi @pacharanero
I've been looking at building out the tests for the API in Postman as we discussed. Weirdly the issue with the example date persists when you link the API yml file to Postman, adding the time into the date. Not sure if this means that maybe there is a different issue?
Joanne

[2021-03-02 14:37] pacharanero commented on #104
Interesting. Maybe we will be best to just make the API accept either type of date. The python datetime library is quite flexible in what it can convert and accept as valid input.

[2021-03-16 20:06] pacharanero opened #140 "SNOMED & CTV3 response"
The API response could contain a 'suggested' SNOMED (and CTV3?) code which would make it easier for implementers to store the data alongside a suitable clinical terminology code.

[2021-03-18 09:51] magdaumerska opened #141 "Updated Privacy Policy"
Hi @pacharanero - please see the attached updated Privacy Policy for digital growth charts. We now have an EEA Rep, which we need to give details to if we are likely to have any users who are based in the EU and outside the UK.
Can you please replace this policy on https://dev.rcpch.ac.uk/privacy ?

Thank you,
Magda

[Updated Digital Growth Charts Privacy Policy.docx](https://github.com/rcpch/digi

[2021-03-19 14:06] pacharanero commented on #141
I have added the new privacy policy

On Thu, 18 Mar 2021 at 09:51, Magda Umerska ***@***.***>
wrote:

[2021-03-19 14:07] #141 closed, assigned to pacharanero

[2021-03-19 14:35] magdaumerska commented on #141
Thank you @pacharanero - I think the updated version is still yet to appear here https://dev.rcpch.ac.uk/privacy (maybe it takes some time) i.e. Our EEA Representative section is still missing.

[2021-03-19 15:47] pacharanero opened #142 "Add Plottable Child to the Calculation endpoint"

[2021-03-19 18:05] pacharanero commented on #141
Try now. It is up there now

[2021-03-22 10:29] chvanlennep opened #146 "Server error with new ISO date time format for t21 / turner reference calculations"
The server accepts UK-WHO calc requests no problem, but gives 500 error with t21 and turner calculations.

Measurement parameters used in this example:

{
  birth_date: '2020-03-22T00:00:00.000Z',
  gestation_days: 0,
  gestation_weeks: 40,
  measurement_method: 'weight',
  observation_date: '2021-03-22T00:00:00.000Z',
  observation_value: 9,
  sex: 'female',
};

[code]

[2021-03-22 13:13] pacharanero commented on #146
@chvanlennep thaks for reporting. This is my own silly error! I missed adding a tiny yet vital bit of code to the T21 and Turner endpoints. I have fixed and once the server is rebuilt (~8 minutes for the GH Action to complete) it should work for you.

[2021-03-23 11:05] chvanlennep commented on #146
Glad it was a simple fix :)

[2021-04-01 16:48] eatyourpeas commented on #132
We now have a doi:
[![DOI](https://zenodo.org/badge/261587883.svg)](https://zenodo.org/badge/latestdoi/261587883)
closing with cb08959.

[2021-04-01 16:51] #142 closed, assigned to nobody

[2021-04-02 13:26] chvanlennep opened #152 "Inconsistent centile band results for low measurements"
Input:

[code]

Part of output:

[code]

Answer should be 'This weight measurement is on or near the 0.4th centile.'

Another example:

Input:

[code]

Part of output:

[code]

Answer should be 'This weight measurement is below the normal range.'

[2021-04-02 14:19] eatyourpeas commented on #152
Thanks for picking this up - patched and closing with d787cc4

[2021-04-02 14:19] #152 closed, assigned to nobody

[2021-04-04 22:09] AcidUK commented on #131
The Dockerfile copies the app into the /app folder during the build phase. The start-docker script is mapping the current directory over the /app folder, which essentially is masking the original /app folder.

This has the benefit of updating the code running within docker if you edit your local files, however Is like the cause of the issue.

I suspect in your development environment @pacharanero

[2021-04-09 13:59] #104 closed, assigned to pacharanero

[2021-04-09 14:01] #53 closed

[2021-04-09 14:03] pacharanero commented on #135
closed with rcpch/digital-growth-charts-server#151

[2021-04-09 14:03] #135 closed, assigned to nobody

[2021-04-09 14:38] #121 closed, assigned to eatyourpeas, pacharanero

[2021-04-21 08:28] pacharanero opened #155 "observation date COULD be before estimated date delivery in a preterm? need to review"
https://github.com/rcpch/digital-growth-charts-server/blob/3345a637425bed25421a79cae5c4f665525c08da/rcpchgrowth/rcpchgrowth/measurement.py#L396-L396

[2021-04-21 08:28] pacharanero opened #156 "observation date COULD be before estimated date delivery in a preterm? need to review"
https://github.com/rcpch/digital-growth-charts-server/blob/3345a637425bed25421a79cae5c4f665525c08da/rcpchgrowth/rcpchgrowth/measurement.py#L396-L396

[2021-04-21 08:33] pacharanero opened #157 "if observation date is BEFORE birth date then an error should be raised"
at this point we should raise some kind of error - Measurement class instantiation should not proceed

Assignees: @pacharanero,@eatyourpeas
Labels:

https://github.com/rcpch/digital-growth-charts-server/blob/3345a637425bed25421a79cae5c4f665525c08da/rcpchgrowth/rcpchgrowth/measurement.py#L403-L403

[2021-04-21 12:08] pacharanero commented on #131
Hi @AcidUK long time no see!
You make good points
Very happy to receive a PR that fixes it. Additions to the documentation would also be welcome.
We have just moved over to using Material for MkDocs and the doco is here:
https://github.com/rcpch/digital-growth-charts-documentation/blob/alpha/docs/developer/api-docker.md

[2021-04-24 11:10] pacharanero opened #158 "missing corrected_sds value"
https://github.com/rcpch/digital-growth-charts-server/blob/f82f186f8efe1a0ac4119f112075219422e23217/rcpchgrowth/rcpchgrowth/tests/sds_age_validation_2021.json#L33591-L33591

@statist7 we've been working through issues with the 4000-child test rig, and have found one 'edge case' child in which they have an incalculable chronological SDS for OFC, owing to being a female over 17 years - BUT their cor

[2021-04-24 11:24] pacharanero opened #159 "missing chronological_sds value for this test 'child'"
https://github.com/rcpch/digital-growth-charts-server/blob/f82f186f8efe1a0ac4119f112075219422e23217/rcpchgrowth/rcpchgrowth/tests/sds_age_validation_2021.json#L51495-L51507

Corresponds to line number  in the source spreadsheet

[2021-04-24 11:27] #159 closed

[2021-04-24 16:34] AcidUK commented on #92
I've had a go at refactoring this. I've put in parameterisation for the last two tests from the original file even though they currently only have one test in each. This should allow addition of any further cases in the future. I'm not confident enough to add further test cases myself (yet!)

[2021-04-25 14:43] pacharanero commented on #92
Thanks @AcidUK  and I've merged.

For info, there is a small amount of duplication here with a new suite of tests which are being developed in branch `testing-improvements`, but you wouldn't have been able to know that!

For now, more tests is good. We can rationalise them down in the future.

If you fancy doing any more testing, we would like to add some more tests to `/tests/test_measurement_cla

[2021-04-25 14:43] #92 closed, assigned to pacharanero

[2021-04-27 11:21] eatyourpeas opened #164 "Automatic Package Versioning"
Now that we have extracted RCPCHGrowth out into its own repository and published it to PyPi, it has become a dependency for the server and the CLI. Each time the RCPCHGrowth package version updates, we need a way automatically to update where it is a dependency

[2021-04-27 11:48] pacharanero commented on #164
OK so the pseudocode solution for this would be:

WHEN (new version of rcpchgrowth-python)
GET (version identifier)
UPDATE (version identifier) in server (requirements.txt)
UPDATE (version identifier) in cli (requirements.txt)

however, I'd be nervous about doing this in an automated way unless there was a lot more testing of both CLI and server, so that we could do all this updating in a feature

[2021-04-27 11:51] eatyourpeas commented on #164
This would then trigger a deploy action also of the server and the CLI.

[2021-04-27 11:59] eatyourpeas commented on #164
Just to add we have the same issue with the charting package and NPM.

[2021-04-27 13:04] pacharanero commented on #164
We can use PyPi API to get data about new versions of the python package
https://warehouse.readthedocs.io/api-reference/json.html#project

[2021-04-28 10:58] pacharanero commented on #131
closed by #161

[2021-04-28 10:58] #131 closed, assigned to pacharanero

[2021-04-28 11:09] pacharanero opened #165 "Reinstate Fictional Child API Endpoint"
We have found a use-case where a Synthetic Child Data endpoint might be useful - this is in generating some 'plausible' demo data to plot on the Demo React client, for when we're doing a rapid demo to people. It would do this with a single click, instead of having to enter multiple plots manually. There will be a button in the React Client which will auto-fill a number of plotted points (may be co

[2021-04-28 11:40] statist7 commented on #158
My view is that if either the chronological or adjusted sds is not available then NA should be returned for both. The alternative would be something of a nightmare for the charting code, and switching the view from one to the other would cause the child to appear and disappear.

[2021-04-28 12:27] pacharanero commented on #158
Yeah, it's a good point. But implementing that in the code might be tricky since we would have to check that the child has a valid Corrected age for the calculation as well as Chronoloigcal age - BEFORE returning either.
And it might be odd for some users if they see that the corrected age is <17 but there's still no response.
@eatyourpeas any views either way? I'm happy to go with the majority vi

[2021-04-28 12:29] eatyourpeas commented on #158
It should be possible in the charts to render the value that is returned in the tool tip for that point, and an error message in the chronological one explaining no reference data

S

[2021-04-28 12:31] statist7 commented on #158
On further reflection I think we should return NA for both if chronological sds is missing, but if chronological sds is available then it should be returned even if corrected sds is NA. This is because the concept of corrected sds is pretty nebulous at 17-18 years.

[2021-04-28 13:16] eatyourpeas commented on #158
Currently the issue arises around OFC at 17y in girls and 18y in boys. It these circumstances the only scenario would be a calculable corrected value and an incalculable chronological one. I guess the reverse could happen at the bottom end of the chart, say where length at 24 weeks could not be plotted but could be at 40+ as a chronological measurement. In those circumstances the preterm comment w

[2021-04-28 13:32] BB-1313 commented on #158
Hi guys, I can see great progress being made.
This issue seemed accesible to me!  How about using the final value in the reference data as valid for all higher values of age.
There are some parameters which this would be invalid for but if it's height/OFC/weight, once adult age and size is achieved they could be considered "fixed" even though this is strictly not true although probably is true for

[2021-04-28 14:13] statist7 commented on #158
We can obviously write a long essay on this topic!

The problem with @BB-1313's suggestion is that for some references, notably weight or BMI, the value keeps rising throughout adulthood, so it makes no sense to extrapolate the value at the oldest reference age to later ages.

Maybe we should just be pragmatic, and return NA values as and when they arise. So in the example we would return NA for c

[2021-05-01 16:17] pacharanero opened #166 "API test suite"
The bulk of the existing 16000 tests were part of the `rcpchgrowth` python package and have been moved out into that repo, leaving this repo looking a little short of tests.

We ideally need to add some tests which will check for regressions in the actual behaviour of the API. (There's no need to test the correctness of the calculations here since they are being tested in the `rcpchgrowth` package

[2021-05-31 20:39] eatyourpeas commented on #165
This has now been implemented in the RCPCHGrowth package 2.2.0 so just needs wiring up now.

[2021-05-31 20:40] eatyourpeas commented on #158
closing

[2021-05-31 20:40] #158 closed, assigned to statist7

[2021-06-28 13:36] eatyourpeas opened #171 "Versioning of RCPCHGrowth-python package"
Currently any new version of the python version pushed to PyPi has to be updated manually in requirements.txt. It would be good to automate this process.

[2021-07-05 11:43] pacharanero commented on #140
In discussion with one implementer, it was suggested that RCPCH should apply to SNOMED to add a code to the UK Edition for

"UK-WHO Height centile calculated using the RCPCH dGC API" (or something like that)

This is because interoperability between systems is still rather limited as regards structured data - a numeric value passed between systems, with a highly specific code such as the above _wo

[2021-07-05 11:49] BB-1313 commented on #140
Kudos for getting the recognition!
However isn't that against the original goal of having the data (height)
stored by the system and applying the API as required for centiles instead
of hard coding it which is the problem with SNOMED CT?

Basil

On Mon, 5 Jul 2021, 12:43 Marcus Baw, ***@***.***> wrote:

[2021-07-05 13:04] pacharanero commented on #140
Thanks @BB-1313 - however I think you may be combining a few different issues there.

1) **Saving data locally** - Our aim is that the systems (eg your hospital EPR) will record the measurement (eg height) and then consult the API to get the height centile. But the expectation from us it that they will **save** the returned centile/SDS/advice-string values locally. If they didn't do this then they

[2021-07-05 13:37] BB-1313 commented on #140
No I understand that, I just wonder why you need to store the processed
data with it's own classification code when it could simply be generated as
required from the raw height value.  I guess that's answered by your first
point it would swap local storage of processed values for repeated need to
process raw data.

I know there are also potential issues about who made what interpretation
based on

[2021-07-26 07:45] eatyourpeas commented on #165
This is now implemented and functioning as of 2.2.9, with a route in the API and a form in the client

[2021-07-26 07:45] #165 closed, assigned to eatyourpeas, pacharanero

[2021-07-26 07:47] eatyourpeas commented on #171
This is actually a duplicate of #74 in the server

[2021-07-26 07:47] #171 closed, assigned to nobody

[2021-07-28 22:33] a-wei-william commented on #164
@pacharanero does this issue still need solving? if so i will do it

[2021-07-29 15:19] pacharanero commented on #164
@a-wei-0513 yes this is not yet resolved so if you have an approach that you think would work then we'd be happy to discuss. Probably need to outline how you would propose to solve it first. It is likely to require some kind of GitHub Actions hook in the Python package, to trigger the Server update.

[2021-08-08 12:16] pacharanero opened #175 "FastAPI response schema classes"
We need to write some FastAPI response schema classes which describe the responses, in order that this will be piped through into the openAPI3 docs.

[2021-08-08 12:23] pacharanero opened #176 "FastAPI docstrings need updating to make them look better on the Swagger UI"

[2021-08-10 22:00] a-wei-william commented on #166
@pacharanero Im working on the tests for trisomy_21 and turner

[2021-08-11 10:59] pacharanero commented on #166
@a-wei-0513
* The existing tests, as you will probably have found, are in the branch `chart-data-persistence`, as they got lumped in with some other improvements.
* FastAPI has some testing documentation here https://fastapi.tiangolo.com/tutorial/testing/
* Thanks for doing this!

[2021-08-14 14:15] eatyourpeas commented on #175
now completed

[2021-08-14 14:15] #175 closed, assigned to eatyourpeas, pacharanero

[2021-08-27 10:01] eatyourpeas commented on #164
Although not solved totally, this is in hand on the rcpchgrowth-python repo. In short, on creation of a new release, the action publishes to pypi and then triggers a rebuild of the server

[2021-08-27 10:01] #164 closed, assigned to eatyourpeas, pacharanero

[2021-09-01 09:01] eatyourpeas opened #184 "Midparental centile endpoint"
It would be good to render the midparental centile on the chart - perhaps as a different colour

[2021-09-01 09:03] eatyourpeas opened #185 "Centile Collections"
The chart-data endpoint should accept either the centile collection flag, or a list of values to create bespoke centiles

[2021-09-01 20:20] eatyourpeas commented on #185
implemented with release 3.4.1

[2021-09-01 20:20] #185 closed, assigned to eatyourpeas, pacharanero

[2021-09-01 20:20] eatyourpeas commented on #184
implemented with release 3.5.0

[2021-09-01 20:20] #184 closed, assigned to eatyourpeas

[2022-04-29 13:54] pacharanero opened #186 "Netlify for internal use to deploy branches to web for testing"

[2022-11-10 16:53] princepsivannhs opened #187 "Getting 404 - Resource Not Found exception while calling Mid Parental Height API end point"
- URL used: https://api.rcpch.ac.uk/growth/v1/utilities/mid-parental-height
- Request type: POST
- Subscription Type: Free Trial
- Request Body:
{
  "height_paternal": 160,
  "height_maternal": 170,
  "sex": "male"
}

- Response:
{
    "statusCode": 404,
    "message": "Resource not found"
}

[2022-11-10 16:54] pacharanero commented on #187
Are you including your API key when sending the request?

[2022-11-10 16:57] princepsivannhs commented on #187
Yes. We're using the same API key to get UK-WHO centile calculations, and we're getting the calculated centiles as expected for those requests.

[2022-11-14 16:31] princepsivannhs commented on #187
Hi team, is there any update on this?

[2022-11-14 21:28] pacharanero commented on #187
Hi @princepsivannhs we have located the problem and it should be a relatively easy fix. Hopefully in the next few days.
Are you currently subscribing to one of the paid tiers or on teh free tier? (just for info/outreach etc)

[2022-11-15 09:36] princepsivannhs commented on #187
Hi @pacharanero thanks for the update!
We're currently using a free tier as part of developing a growth chart app for Royal Cornwall Hospital.